<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jishuz.library"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.jishuz.library.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jishuz.library.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.BookDetails" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.MeDetails" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.Say" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.Mes" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.FeedBack" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.About" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.AdminActivity" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.AdminMes" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.Admin02" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.Admin04" >
        </activity>
        <activity android:name="cn.jishuz.library.activity.Admin03" >
        </activity>

        <receiver android:name="cn.jishuz.library.receiver.ReadReceiver" >
        </receiver>

        <service android:name="cn.jishuz.library.service.ReadService" >
        </service>

        <receiver android:name="cn.jishuz.library.receiver.OfflineReceiver" >
            <intent-filter>
                <action android:name="cn.jishuz.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>